/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Tamanho dos elementos funcionar de forma lógica (usar sempre) */
}

/* Corpo do site */
body {
  font-family: "Montserrat";
  background-color: #0f0f0f; /* Cor da página */
  color: #fff; /* Cor da letra */
}

/* Container padrão */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
header {
  background-color: #000;
  position: sticky;
  top: 0;
  z-index: 1000;
}

header .container {
  display: flex; /* Ativa o Flexbox */
  justify-content: space-between; /* Joga um item para a direita e outro pra esquerda */
  align-items: center; /* Centraliza verticalmente */
}

/* Menu */
nav a {
  position: relative;
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}
nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #00ff88;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

nav a:hover::after {
  width: 100%;
}

/* Hero */
.hero {
  height: 90vh; /* vh relativo a tela usada (90% da tela) */
  background: url("/img/hero-exemplo.jpeg") no-repeat center center/cover; /* Define a imagem, não repete a imagem, centraliza vertical e horizontal e faz a imgem cobrir toda a área */
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}
.hero h1 {
  font-size: 56px;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 400;
}

/* ::before cria uma camada antes do conteúdo */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}

.hero .container {
  position: relative;
  z-index: 1;
}

/* Botão */
.btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #00ff88;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
}

/* Aplica estilo quando passa o mouse */
.btn:hover {
  background-color: #00cc6a;
  transform: scale(1.05);
}

/* SOBRE */
.about {
  padding: 80px 0;
  background-color: #111;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.about-image {
  flex: 1; /* Cada lado ocupa metade do espaço */
}

.about-image img {
  width: 100%;
  border-radius: 10px;
}

/* SERVIÇOS */
.services {
  padding: 80px 0;
  background-color: #0f0f0f;
  text-align: center;
}

.services h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

/* GRID DE CARDS */
.services-grid {
  display: flex;
  gap: 20px;
}

/* CARD */
.service-card {
  flex: 1;
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 10px;
  transition: 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.service-card h3 {
  margin-bottom: 15px;
}

.service-card p {
  font-size: 14px;
  line-height: 1.5;
}

/* EFEITO HOVER */
.service-card:hover {
  transform: translateY(-10px);
  background-color: #222;
}

/* RESULTADOS */
.results {
  padding: 80px 0;
  background-color: #111;
  text-align: center;
}

.results h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

/* GRID DE IMAGENS */
.results-grid {
  display: flex;
  gap: 20px;
}

.result-item {
  flex: 1;
  overflow: hidden;
  border-radius: 10px;
}

/* IMAGEM */
.result-item img {
  width: 100%;
  display: block;
  transition: 0.3s;
}

/* EFEITO HOVER */
.result-item:hover img {
  transform: scale(1.1);
}

/* CONTATO */
.contact {
  padding: 80px 0;
  background: linear-gradient(135deg, #00ff88, #00cc6a);
  text-align: center;
  color: #000;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact p {
  margin-bottom: 30px;
  font-size: 18px;
}

/* Botão nessa seção */
.contact .btn {
  background-color: #000;
  color: #00ff88;
}

.contact .btn:hover {
  background-color: #111;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  /* MENU */
  header .container {
    flex-direction: column;
    gap: 10px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 5px 0;
  }

  /* HERO */
  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }

  /* SOBRE */
  .about-content {
    flex-direction: column;
  }

  /* SERVIÇOS */
  .services-grid {
    flex-direction: column;
  }

  /* RESULTADOS */
  .results-grid {
    flex-direction: column;
  }
  .container {
    padding: 15px;
  }
}
